/*

This guy css contains:
==================================================
CSS SITEMAP >>>>

01. GENERAL CSS
02. HEADER CSS
03. MENU CSS
04. INTRO CSS
05. BUTTON CSS
06. LOADING CSS
07. SLIDER CSS
08. FORM CSS
09. TYPOGRAPHY CSS
10. JUMBOTRON CSS
11. FOOTER CSS
12. MEDIA 


==================================================*/

/*==============================================
01. GENERAL CSS
================================================*/
html,
body {
      margin    : 0%;
      padding   : 0%;
      width     : 100%;
      height    : 100vh;
      background: #121212;
}

body {
      background     : url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

img {
      width: 100%;
}

.navbar-dark .navbar-toggler {

      border-color: none !important;
}


/*==============================================
02. HEADER CSS
================================================*/
.masthead-brand {
      margin-bottom: 0;
}

.nav-masthead .nav-link {
      padding         : .25rem 0;
      font-weight     : 700;
      color           : rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom   : .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
      margin-left: 1rem;
}

.nav-masthead .active {
      color              : #fff;
      border-bottom-color: #fff;
}

@media (min-width: 48em) {
      .masthead-brand {
            float: left;
      }

      .nav-masthead {
            float: right;
      }

}

.bg-transparent {
      background-color: rgba(255, 255, 255, .5);
}

/*==============================================
03. MENU CSS
================================================*/



.menu a {
      text-decoration: none;
      color          : #fff;
      letter-spacing : 3px;
      font-weight    : 600;
}

.menu a:hover {
      color: rgb(122, 160, 226) !important;
}

/*==============================================
04. INTRO CSS
================================================*/
.ml7 {
      position   : relative;
      font-weight: 900;
      font-size  : 3.7em;
}

.ml7 .text-wrapper {
      position      : relative;
      display       : inline-block;
      padding-top   : 0.2em;
      padding-right : 0.05em;
      padding-bottom: 0.1em;
      overflow      : hidden;
}

.ml7 .letter {
      transform-origin: 0 100%;
      display         : inline-block;
      line-height     : 1em;
}

h1 {
      color         : #fff;
      font-family   : 'roboto', sans-serif;
      font-weight   : bolder !important;
      font-size     : 2.4rem !important;
      margin-bottom : 0px;
      text-transform: uppercase !important;
}

/* 
#tagline {
      width: 640px;
} */

p {
      color        : #fff;
      font-weight  : 200;
      font-family  : "Montserrat";
      line-height  : 28px;
      margin-top   : 0;
      margin-bottom: 0;
}

/*==============================================
05. BUTTON CSS
================================================*/

.buttons {
      margin-top: 20px;
}

/* 
button {
      margin-right  : 10px !important;
      padding       : 14px 30px;
      border        : none;
      color         : #fff;
      font-size     : 12px !important;
      letter-spacing: 4px;
      font-weight   : 300;
} */

.button-container-1 {
      position      : relative;
      width         : 15rem;
      height        : 50px;
      overflow      : hidden;
      font-family   : 'Montserrat', sans-serif;
      font-weight   : 300;
      font-size     : 17px;
      transition    : 0.5s;
      letter-spacing: 3px;
      border-radius : 5px;
      box-shadow    : 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);

}

.button-container-1 button {
      width               : 101%;
      height              : 100%;
      font-family         : 'Lato', sans-serif;
      font-weight         : 300;
      font-size           : 11px;
      letter-spacing      : 1px;
      font-weight         : bold;
      /* background       : #B71C1C; 
      background-image    : linear-gradient(to right, #0D47A1, #861010); */
      background          : rgb(0, 83, 161);
      background          : linear-gradient(90deg, rgba(0, 83, 161, 1) 0%, #861010 100%);
      -webkit-mask        : url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
      mask                : url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
      -webkit-mask-size   : 2300% 100%;
      mask-size           : 2300% 100%;
      border              : none;
      color               : #fff;
      cursor              : pointer;
      -webkit-animation   : ani2 0.7s steps(22) forwards;
      animation           : ani2 0.7s steps(22) forwards;
}

.button-container-1 button:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation        : ani 0.7s steps(22) forwards;
}

.button-container-2 {
      position      : relative;
      width         : 15rem;
      height        : 50px;
      margin-left   : auto;
      margin-right  : auto;
      margin-top    : 7vh;
      overflow      : hidden;
      font-family   : 'Montserrat', sans-serif;
      font-weight   : 300;
      transition    : 0.5s;
      letter-spacing: 3px;
      border-radius : 5px;
      box-shadow    : 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);
}

.button-container-2 button {
      width            : 101%;
      height           : 100%;
      font-family      : 'Montserrat', sans-serif;
      font-weight      : 300;
      font-size        : 11px;
      letter-spacing   : 3px;
      font-weight      : bold;
      background       : rgb(0, 83, 161);
      background       : linear-gradient(90deg, rgba(0, 83, 161, 1) 0%, #861010 100%);
      -webkit-mask     : url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
      mask             : url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
      -webkit-mask-size: 3000% 100%;
      mask-size        : 3000% 100%;
      border           : none;
      color            : #fff;
      cursor           : pointer;
      -webkit-animation: ani2 0.7s steps(29) forwards;
      animation        : ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation        : ani 0.7s steps(29) forwards;
}

.mas {
      position   : absolute;
      color      : #FFF;
      text-align : center;
      width      : 101%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      position   : absolute;
      font-size  : 11px;
      margin-top : 0px;
      overflow   : hidden;
      font-weight: 300;
      background : #ffffff40;


      padding: 17px;
}

@-webkit-keyframes ani {
      from {
            -webkit-mask-position: 0 0;
            mask-position        : 0 0;
      }

      to {
            -webkit-mask-position: 100% 0;
            mask-position        : 100% 0;
      }
}

@keyframes ani {
      from {
            -webkit-mask-position: 0 0;
            mask-position        : 0 0;
      }

      to {
            -webkit-mask-position: 100% 0;
            mask-position        : 100% 0;
      }
}

@-webkit-keyframes ani2 {
      from {
            -webkit-mask-position: 100% 0;
            mask-position        : 100% 0;
      }

      to {
            -webkit-mask-position: 0 0;
            mask-position        : 0 0;
      }
}

@keyframes ani2 {
      from {
            -webkit-mask-position: 100% 0;
            mask-position        : 100% 0;
      }

      to {
            -webkit-mask-position: 0 0;
            mask-position        : 0 0;
      }
}


.button-container-3 {
      position    : relative;
      width       : 15rem;
      height      : 50px;
      margin-left : auto;
      margin-right: auto;
      margin-top  : 1vh;
      overflow    : hidden;

      font-family   : 'Montserrat', sans-serif;
      font-weight   : 300;
      transition    : 0.5s;
      letter-spacing: 3px;
      border-radius : 5px;
}

.button-container-3 button {
      width            : 101%;
      height           : 100%;
      font-family      : 'Montserrat', sans-serif;
      font-weight      : 300;
      font-size        : 11px;
      letter-spacing   : 1px;
      font-weight      : bold;
      background       : rgb(0, 83, 161);
      background       : linear-gradient(90deg, rgba(0, 83, 161, 1) 0%, #861010 100%);
      -webkit-mask     : url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
      mask             : url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
      -webkit-mask-size: 7100% 100%;
      mask-size        : 7100% 100%;
      border           : none;
      color            : #fff;
      cursor           : pointer;
      -webkit-animation: ani2 0.7s steps(70) forwards;
      animation        : ani2 0.7s steps(70) forwards;
}

.button-container-3 button:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation        : ani 0.7s steps(70) forwards;
}


.btn-section {
      transition: opacity 1s ease-out;
      opacity   : 0;
}

.btn-section.active {
      transition: opacity 1s ease-in-out;
      opacity   : 1;
}


.bottom-text {
      position   : absolute;
      z-index    : 1;
      color      : grey;
      font-size  : 18px;
      font-family: monospace;
      margin-left: 2em;
      bottom     : 40px;
}

.btn-outline-primary {
      color        : #3b5998;
      border-color : #3b5998;
      border       : solid 2px;
      border-radius: 0px;
      background   : #f0f8ff45;
}

/* === */
.social-btn:focus {
      outline: none;
}

.social-btn {
      outline          : none;
      background-color : #3B5998;
      position         : absolute;
      left             : 50%;
      top              : 50%;
      -webkit-transform: translate(-50%, -50%);
      transform        : translate(-50%, -50%);
      color            : #fff;
      text-decoration  : none;
      font-size        : .88em;
      display          : inline-block;

      padding           : 0.5em 2em;
      border            : 2px solid #3b5998;
      border-radius     : 3px;
      letter-spacing    : 2px;
      -webkit-transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      transition        : 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      box-shadow        : 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);
}

.social-btn::before {
      content           : "";
      display           : inline-block;
      position          : absolute;
      top               : 0;
      left              : 0;
      right             : 100%;
      bottom            : 0;
      background        : #ffffffa8;
      -webkit-transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
      transition        : 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
      z-index           : -1;
}

.social-btn::after {
      content            : "";
      display            : inline-block;
      background-image   : url("images/fb1.png");
      position           : absolute;
      top                : 0;
      left               : calc(100% - 3em);
      right              : 3em;
      bottom             : 0;
      background-size    : 1.5em;
      background-repeat  : no-repeat;
      background-position: center;
      -webkit-transition : right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
      transition         : right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}

.social-btn:hover {
      padding: 0.5em 3.5em 0.5em 0.5em;
}

.social-btn:hover::before {
      left              : calc(100% - 3em);
      right             : 0;
      -webkit-transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      transition        : 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.social-btn:hover::after {
      right             : 0;
      -webkit-transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      transition        : right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}




/*==============================================
06. LOADING CSS
================================================*/
.loading-screen {
      position       : absolute;
      width          : 100%;
      height         : 100vh;
      background     : url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
      opacity        : .7;
      z-index        : 2;
}

.ring {
      margin   : 0%;
      padding  : 0%;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
      position : absolute;
      z-index  : 2;
      width    : 60%;
      opacity  : 0.7;
}

.ringOne img {
      animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
      animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
      from {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}

/*==============================================
07. SLIDER CSS
================================================*/

#wowslider-container1 {
      position: absolute;
      top     : 0;
      left    : 0;
      z-index : 0;
}

.content {
      position        : absolute;
      top             : 0;
      left            : 0;
      bottom          : 0;
      right           : 0;
      overflow        : auto;
      z-index         : 1;
      background-color: rgba(0, 0, 0, .75);
}

/*==============================================
08. FORM CSS
================================================*/

.form-control {

      color           : #fff;
      background-color: rgb(255 255 255 / 23%);
      background-clip : padding-box;
      border          : 1px solid rgb(206 212 218 / 8%);
      border-radius   : .25rem;
      transition      : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      box-shadow      : 0 19px 38px rgba(0, 0, 0, 0.30),
            0 15px 12px rgba(0, 0, 0, 0.22);
      font-size: .88rem;


}

.form-control:focus {
      color           : #000;
      background-color: #fff;
      border-color    : none;
      outline         : 0;
      box-shadow      : none;
}

::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color  : rgb(233 236 239 / 60%) !important;
      opacity: 1;

      /* Firefox */
}

:-ms-input-placeholder {
      /* Internet 
  Explorer 10-11 */
      color: rgb(233 236 239 / 60%) !important;
}

::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgb(233 236 239 / 60%) !important;
}

/*==============================================
09. TYPOGRAPHY CSS
================================================*/
.ikrar-title {
      font-size: 3rem;
      font-family: 'Montserrat',
            sans-serif;
      line-height   : 2;
      text-align    : center;
      letter-spacing: 2px;
      font-weight   : 700;
}

.ikrar-text {
      font-size: 1.8rem;
      font-family: 'Roboto',
            sans-serif;
      line-height   : 2;
      text-align    : center;
      letter-spacing: 2px;
}

.thanks-title {
      color      : black;
      font-family: 'Pacifico', cursive;
      font-size  : 1.9rem;
      text-shadow: 2px 1px 4px #00000080;
      line-height: 2;

}

.thanks-note {
      color      : black;
      font-family: 'Roboto', sans-serif;
      font-size  : 1.1rem;
}

/*==============================================
10. JUMBOTRON CSS
================================================*/
#step3 .ikrar-container {
      background     : rgb(255, 255, 255);
      background     : radial-gradient(circle, #f8f9fa6b 0%, rgba(0, 0, 0, .175) 100%);
      box-shadow     : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      /* this guy is not supported yet in ie    */
      backdrop-filter: blur(3px);
}

#step4 .jumbotron {
      background        : #ffffffd1;
      /* background     : radial-gradient(circle, #3b59986b 0%, rgba(0, 0, 0, .175) 100%); */
      box-shadow        : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      /* this guy is not supported yet in ie    */
      backdrop-filter   : blur(3px);
}


/*==============================================
11. FOOTER CSS
================================================*/
.copyright {
      position      : absolute;
      z-index       : 1;
      color         : #fafafa70;
      font-size     : 12px;
      right         : 0;
      font-family   : 'Dosis', sans-serif;
      font-weight   : 100;
      margin-right  : 2em;
      bottom        : 18px;
      letter-spacing: 2px;
}

 

/*==============================================
12. MEDIA 
================================================*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      
      .social-btn{
            font-size: .8rem !important;
      }
    
      .intro{
            padding-top: 2.4rem;
      }
      footer{
            display: none;
      }

      .content {
            overflow: auto !important;
      }

      h1 {
            font-size: 1.8rem !important;
      }

      main {
            height: auto;
      }

      main.container {
            padding: 100px 15px 0 !important;
      }

      .ikrar-title {
            font-size: 1.4rem;

      }

      .ikrar-text {
            font-size: 1rem;

      }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      h1 {
            font-size: 2.1rem !important;
      }

      .ikrar-title {
            font-size: 1.4rem;

      }

      .ikrar-text {
            font-size: 1rem;

      }
}

@media(max-width: 900px) {
      .ikrar-title {
            font-size: 1.4rem;

      }

      .ikrar-text {
            font-size: 1rem;

      }

      .ring {

            width: 80%;

      }

      /* .loading-screen {
            display: none;
      }
      .ring img {
            display: none;
      }

      .header p, button, .media, h1 {
            display: none;
      } */

}

/* ################################################# 
            excussively for IE 
#################################################### */

/* detect that dumb browser and appply different css */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

      /* IE10+ CSS styles go here */
      .mas {
            display: none;
      }

      .ikrar-title {
            font-size: 3rem;
            font-family: 'Montserrat',
                  sans-serif;
            line-height   : 2;
            text-align    : center;
            letter-spacing: 2px;
            font-weight   : 700;
            color         : black;
      }

      .ikrar-text {
            font-size: 1.8rem;
            font-family: 'Roboto',
                  sans-serif;
            line-height   : 2;
            text-align    : center;
            letter-spacing: 2px;
            color         : black;
      }

      #step3 .jumbotron {
            background: rgb(255, 255, 255);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

      }

      #step4 .jumbotron {
            background: rgb(255, 255, 255);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      }

      .thanks-title {
            color      : black;
            font-family: 'Pacifico', cursive;
            font-size  : 1.9rem;
            text-shadow: 3px 4px 5px #000000ad;
            line-height: 2;

      }

      .thanks-note {
            color      : black;
            font-family: 'Roboto', sans-serif;
            font-size  : 1.1rem;
      }

      .thanks-small {
            color: black;
      }


}